include README.rst requirements.txt LICENSE
recursive-include {{ project_name }} *
recursive-exclude {{ project_name }} *.pyc
recursive-exclude {{ project_name }}/test_media *
recursive-exclude tests *
